<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <form action="/welcome" method="post">
        <h2>Добро пожаловать, <span th:text="${username}"></span>!</h2>
        <div>               
            <a th:href="@{/expenses/add}" class="btn">Записать расходы</a>
            <a th:href="@{/expenses}" class="btn">Просмотреть расходы</a>
        </div>
    </form>
    
    <a th:href="@{/login}">Выйти</a>
</body>
</html>